body{
font-family:Arial;
padding:20px;
}

.card{
display:inline-block;

width:220px;

padding:15px;

margin:10px;

background:#f4f4f4;

border-radius:10px;
}

.low{
background:#ffcccc;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

input,select{
padding:10px;
margin:5px;
}

button{
padding:10px;
}